body {
    background-color: #FAFAFA;
}

.logo {
    font-size: 4rem;
    color: #00A8E8;
    font-weight: 900;
    letter-spacing: .04em;
}

.heading {
    color: #00A8E8;
    font-size: 3rem;
}

.btn-primary {
    border: none !important;
}

.btn-primary:hover {
    background-color: #4C5C68 !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}